.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-follow {
    padding: 8px 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
    border-radius: 4px;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        border-color: var(--primary-color);
    }
}

.body {
    margin-top: 12px;
    color: #161823;
}

.nick-name {
    font-size: 1.8rem;
}

.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}

.name {
    font-size: 1.4rem;
}

.analytics {
    padding-top: 10px;
    font-size: 1.8rem;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    color: #161823bf;
    margin-left: 4px;
}
