.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
}

.contain {
    display: flex;
    flex: 1;
}