.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    padding: 0 24px 0 20px;
}

.contain {
    display: flex;
    flex: 1;
}
