.wrapper {
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 14px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
}

.rounded {
    border-radius: 999px;
    color: rgba(22, 24, 35, 0.75);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}
.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        border-color: var(--primary-color);
    }
}

.outline {
    border-color: rgba(254, 44, 85, 1);
    color: var(--primary-color);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border-color: rgba(254, 44, 85, 1);
    }
}

// button size

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

.text {
    border-color: rgba(22, 24, 35, 0.12);
    font-weight: 500;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
