@import 'normalize.css';

:root {
    --primary-color: rgb(254 44 85);
    --default-layout-header-height: 60px;
    // --default-layout-width: 1150px;
    --black-color: rgb(22, 24, 35);
    --white-color: rgb(255, 255, 255);
    --text-color: rgb(22, 24, 35);
    --second-color: rgb(138 139 144);
    --font-family: 'ProximaNova', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

// scrollbar style
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

input,
button,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
}

a[href] {
    text-decoration: none;
}

// font embeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}
// custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippt-content {
        padding: 8px 9px;
    }
}

.loader {
    width: 20px;
    height: 20px;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: rotate 1s infinite cubic-bezier(0.05, 0, 1, 1);
}

.loader::before {
    background-color: #fe2c55;
}

.loader::after {
    background-color: rgb(58, 242, 255);
    animation-delay: 0.5s;
}

@keyframes rotate {
    0%,
    100% {
        left: 18px;
    }
    25% {
        transform: scale(0.3);
    }
    50% {
        left: 0;
    }
    75% {
        transform: scale(1);
    }
}
